<div class="form-group">
    <label for="programmaticAreaame" class="col-md-2 control-label">{{ 'NAME' | translate }}:</label>
    <div class="col-md-3">
         <input id="programmaticAreaName" name="'{{ 'NAME' | translate }}'" ng-model="programmaticArea.name" type="text" class="form-control" autocomplete="off" required/>
    </div>
</div>
    
<div class="form-group">
    <label for="programmaticAreaDescription" class="col-md-2 control-label">{{ 'DESCRIPTION' | translate }}:</label>
    <div class="col-md-3">
         <textarea rows="3" cols="50" id="programmaticDescription" name="'Descricao'" ng-model="programmaticArea.description" type="text" class="form-control" autocomplete="off" required/>
    </div>
</div>